.body
    font-family: Kurale
    font-weight: 500
    font-style: normal
    color: black

.header
    // background: linear-gradient(#5E7151, white)
    background: white
    
    width: 100vw
    height: 100px
    display: flex
    align-items: center
    position: fixed
    align-content: center
   
.header-container
    width: 1170px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    &__logo
        max-width: 5%

    &__menu-item
        display: inline-block
        margin-right: 60px
        &:last-child
            margin-right: 0px
    &__menu-item a
        text-decoration: none
        color: black
        &:hover
            color: #5e7151
            border-bottom: 2px solid #5e7151



// @media screen and (min-width: 375px) 
//     .header-container
//         justify-content: space-around
//         &__logo
//             max-width: 15%
//         &__menu-item
//             display: block
//             margin-right: 10px
