// HEADER

.body {
    font-family: 'Kurale';
    font-weight: 500;
    font-style: normal;
    color: black;
}

.header {
    background: white;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    align-content: center;
}

.header-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-container__logo {
        max-width: 5%;
    }

    .header-container__menu-item {
        display: inline-block;
        margin-right: 60px;
    }

    .header-container:last-child {
        margin-right: 0px;
    }

    .header-container__menu-item a {
        text-decoration: none;
        color: black;

        &:hover {
            color: #5e7151;
            border-bottom: 2px solid #5e7151;
        }
    }
}

// HEADER

//FOOTER

.footer {
    background: linear-gradient(white, #5E7151);
    width: 100vw;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .footer__line {
        margin-bottom: 50px;
        width: 100vw;
        border: 1px solid #5E7151;
    }
}

.footer-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-container__logo {
        max-width: 10%;
    }

    .footer-container__contacts {
        color: black;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
        width: 500px;
    }

    .footer-container__contacts-item {
        text-decoration: none;
        margin-right: 50px;
        color: black;
    }

    .footer-container__contacts-item:last-child {
        margin-right: 0px;
    }

    .footer-container__social-logo {
        width: 40px;
    }

    .footer-container__menu-item {
        align-self: flex-end;
        list-style: none;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .footer-container__menu-item a {
        text-decoration: none;
        color: black;
    }
}


// @media screen and (min-width: 375px)
//     .footer
//         height: 200px
//         &__line 
//             margin-bottom: 10px
//     .footer-container
//         display: flex
//         justify-content: space-between
//         align-items: center
//         &__logo
//             max-width: 10%
//         &__contacts

//             margin-left: 0px
//             row-gap: 20px
//             width: 300px
//         &__contacts-item
//             text-decoration: none
//             margin-right: 50px

//             &:last-child
//                 margin-right: 0px

//         &__menu-item
//             margin-bottom: 10px
//             &:last-child
//                 margin-bottom: 0px

//         &__menu-item a
//             text-decoration: none
//             // color: #374230