.advertising {
    width: 1440;
    margin: 0%;
    //   background: #ebf3f5;
    background-image: url("/assets/images/silver-christmas.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-areas: "advertising__left advertising__right";
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    gap: 0rem;
    padding: 120px;
}

.advertising__left {
    grid-area: advertising__left;
}

.advertising__header {
    font-family: "Matterhorn";
    font-style: normal;
    font-weight: 400;
    font-size: 3.4375em;
    line-height: 1.3;
    letter-spacing: 0.66px;
    color: #b3283f;
    padding-right: 5em;
}

.advertising__text {
    font-family: "Kurale";
    font-style: normal;
    font-weight: 400;
    font-size: 1.1875em;
    line-height: 1.6;
    color: #555555;
    padding-right: 5.9375em;
}

.advertising__button {
    font-family: "Kurale";
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125em;
    line-height: 1.25em;
    text-align: center;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #5e7151;
    text-decoration: none;
    padding: 19px 32px;
}

.advertising__right {
    grid-area: advertising__right;
}

.advertising__img {
    width: 100%;
}

@media (max-width: 1200px) {
    .advertising {
        grid-template-areas:
            "advertising__right"
            "advertising__left";
        grid-template-columns: 80%;
        grid-template-rows: auto auto;
    }
}