<<<<<<< HEAD
@font-face {
  font-family: "Playfair Display, sans-serif";
  src: url(/assets/fonts/PlayfairDisplay-Bold.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url(/assets/fonts/PlayfairDisplay-Medium.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url(/assets/fonts/PlayfairDisplay-ExtraBold.ttf);
  font-weight: 900;
  font-style: normal;
}
.body {
  font-family: Playfair Display, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header {
  background: linear-gradient(#5E7151, white);
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container__logo {
  max-width: 5%;
}
.header-container__menu-item {
  display: inline-block;
  margin-right: 60px;
}
.header-container__menu-item:last-child {
  margin-right: 0px;
}
.header-container__menu-item a {
  text-decoration: none;
  color: #374230;
}
.header-container__menu-item a:hover {
  color: #060804;
  border-bottom: 2px solid #374230;
}

.footer {
  background: linear-gradient(white, #5E7151);
  width: 100vw;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__line {
  margin-bottom: 20px;
  width: 100vw;
  border: 1px solid #5E7151;
}

.footer-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container__logo {
  max-width: 10%;
}
.footer-container__contacts {
  color: #374230;
  margin-left: 100px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  text-align: center;
  width: 500px;
}
.footer-container__contacts-item {
  text-decoration: none;
  margin-right: 50px;
  color: #374230;
}
.footer-container__contacts-item:last-child {
  margin-right: 0px;
}
.footer-container__social-logo {
  width: 40px;
}
.footer-container__menu-item {
  align-self: flex-end;
  list-style: none;
  margin-bottom: 20px;
}
.footer-container__menu-item:last-child {
  margin-bottom: 0px;
}
.footer-container__menu-item a {
  text-decoration: none;
  color: #374230;
}

@media screen and (min-width: 375px) {
  .footer {
    height: 200px;
  }
  .footer__line {
    margin-bottom: 10px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-container__logo {
    max-width: 10%;
  }
  .footer-container__contacts {
    color: #374230;
    margin-left: 0px;
    row-gap: 20px;
    width: 300px;
  }
  .footer-container__contacts-item {
    text-decoration: none;
    margin-right: 50px;
    color: #374230;
  }
  .footer-container__contacts-item:last-child {
    margin-right: 0px;
  }
  .footer-container__menu-item {
    margin-bottom: 10px;
  }
  .footer-container__menu-item:last-child {
    margin-bottom: 0px;
  }
  .footer-container__menu-item a {
    text-decoration: none;
    color: #374230;
  }
}
.prices__heading {
  text-align: center;
}
.prices__live {
  width: 70%;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .prices__live {
    width: 100%;
    display: block;
  }
}
.prices__live_img {
  padding: 1em;
}
@media screen and (max-width: 768px) {
  .prices__live_img {
    width: 100%;
    padding: 0;
  }
}
.prices__live_services {
  font-size: large;
  padding: 1em;
}
.prices__live_services details {
  padding: 7px;
}
.prices__button {
  background-color: #5E7151;
  color: white;
  padding: 20px;
  border: inherit;
}
.prices__plastic {
  width: 70%;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .prices__plastic {
    width: 100%;
    display: block;
  }
}
.prices__plastic_services {
  font-size: large;
  padding: 1em;
}
.prices__plastic_services details {
  padding: 7px;
}
.prices__plastic_img {
  padding: 1em;
}
@media screen and (max-width: 768px) {
  .prices__plastic_img {
    width: 100%;
    padding: 0;
  }
}

.form {
  margin: auto;
  justify-content: center;
  background-color: #ebf3f5;
  width: 80vw;
  font-family: Manrope, sans-serif;
}

.form_column1,
.form_column2 {
  max-width: 600px;
  min-width: 400px;
  margin: 10px;
}

.form_title {
  font-family: Playfair Display, sans-serif;
  text-align: center;
}

.form_subtitle {
  font-family: Playfair Display, sans-serif;
}

.block_result {
  text-align: center;
}

.result {
  margin-top: 20px;
  font-size: 2em;
  color: rgb(4, 131, 120);
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.checkbox {
  width: 20px;
  height: 20px;
  background-color: aqua;
}

input[type=radio] {
  width: 20px;
}

.form_button {
  width: 170px;
  height: 40px;
  font-weight: bold;
  font-size: 1em;
  background-color: rgb(169, 218, 202);
  border: 1px solid gray;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .form {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .form {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
=======
/* Error: Can't find stylesheet to import.
 *   ,
 * 6 | @import "./title.sass"
 *   |         ^^^^^^^^^^^^^^
 *   '
 *   assets\sass\style.sass 6:9  root stylesheet */

/*# sourceMappingURL=style.css.map */


.sectionServices {
  height: 885px;
  width: 1440px;
  display: flex;
  margin-top: 100px;
  box-sizing: border-box;
  justify-content: center;
}

#sectionServices__form {
  display: none;
  position: fixed;
  margin: auto;
  width: 700px;
  height: 300px;
  border-radius: 10px;
  padding-left: 15px;
  background-color: #839d5c;
  color: #b3283f;
  font-size: 20px;
}

.sectionServices__form-input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: 0;
  margin-left: 5px;
  text-indent: 10px;
}

.sectionServices__form-checkboxes {
  margin-top: 20px;
}

.sectionServices__form-button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  color: #b3283f;
  font-size: 18px;
}

.sectionServices__form-button:hover {
  background-color: #5e7151;
}

.sectionServices-card {
  margin-left: 30px;
  height: 550px;
}

.sectionServices-imageRecycleSpruce {
  height: 288px;
  width: 380px;
  background-image: url('./../images/recyclespruce.jpg');
  background-size: cover;
}

.sectionServices-imageSaveSpruce {
  height: 288px;
  width: 380px;
  background-image: url('./../images/savespruce.jpg');
  background-size: cover;
}

.sectionServices-imageRecyclePlastic {
  height: 288px;
  width: 380px;
  background-image: url('./../images/recycleplastic.jpg');
  background-size: cover;
}

.sectionServices-description {
  margin-left: 0px;
  margin-top: 16px;
}

.sectionServices__description-title {
  color: #b3283f;
  width: 380px;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}

.sectionServices__description-about {
  width: 370px;
  height: 92px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
}

.sectionServices__description-button {
  margin-top: 15px;
  height: 57px;
  width: 157px;
  border: 1px solid #5e7151;
  background-color: #5e7151;
  color: #fff;
}

.sectionServices__description-button:hover {
  background-color: #5e7151;
  font-weight: bolder;
}


.sectionServices__description-button a {
  text-decoration: none;
  color: #fff;
}

@media (width:375px) {

  .sectionServices {
    display: block;
  }

  .sectionServices-card {
    margin-top: 20px;
    height: 600px;
  }

  .sectionServices-imageRecycleSpruce,
  .sectionServices-imageRecyclePlastic,
  .sectionServices-imageSaveSpruce {
    height: 270px;
    width: 300px;
  }

  .sectionServices__description-title,
  .sectionServices__description-about {
    width: 300px;
  }

  #sectionServices__form {
    width: 300px;
    height: 500px;
    margin-top: 780px;
    margin-left: 20px;
  }

  .sectionServices__form-input {
    width: 250px;
    margin-left: 5px;
    margin-top: 10px;
  }

  .sectionServices__form-checkboxes {}

  .sectionServices__form-button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    margin-left: 5px;
    border-radius: 10px;
    border: none;
    color: #b3283f;
    font-size: 18px;
  }

}
=======
body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 6 \2502  @import \"./title.sass\"\d\a   \2502          ^^^^^^^^^^^^^^\a   \2575 \a   assets\\sass\\style.sass 6:9  root stylesheet";
}

>>>>>>> 77ef4777dc370054587dd6013dc35bb498dd90fb
