/* Error: Can't find stylesheet to import.
 *   ,
 * 6 | @import "./title.sass"
 *   |         ^^^^^^^^^^^^^^
 *   '
 *   assets\sass\style.sass 6:9  root stylesheet */

/*# sourceMappingURL=style.css.map */


.sectionServices {
  height: 885px;
  width: 1440px;
  display: flex;
  margin-top: 100px;
  box-sizing: border-box;
  justify-content: center;
}

#sectionServices__form {
  display: none;
  position: fixed;
  margin: auto;
  width: 700px;
  height: 300px;
  border-radius: 10px;
  padding-left: 15px;
  background-color: #839d5c;
  color: #b3283f;
  font-size: 20px;
}

.sectionServices__form-input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: 0;
  margin-left: 5px;
  text-indent: 10px;
}

.sectionServices__form-checkboxes {
  margin-top: 20px;
}

.sectionServices__form-button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  color: #b3283f;
  font-size: 18px;
}

.sectionServices__form-button:hover {
  background-color: #5e7151;
}

.sectionServices-card {
  margin-left: 30px;
  height: 550px;
}

.sectionServices-imageRecycleSpruce {
  height: 288px;
  width: 380px;
  background-image: url('./../images/recyclespruce.jpg');
  background-size: cover;
}

.sectionServices-imageSaveSpruce {
  height: 288px;
  width: 380px;
  background-image: url('./../images/savespruce.jpg');
  background-size: cover;
}

.sectionServices-imageRecyclePlastic {
  height: 288px;
  width: 380px;
  background-image: url('./../images/recycleplastic.jpg');
  background-size: cover;
}

.sectionServices-description {
  margin-left: 0px;
  margin-top: 16px;
}

.sectionServices__description-title {
  color: #b3283f;
  width: 380px;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}

.sectionServices__description-about {
  width: 370px;
  height: 92px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
}

.sectionServices__description-button {
  margin-top: 15px;
  height: 57px;
  width: 157px;
  border: 1px solid #5e7151;
  background-color: #5e7151;
  color: #fff;
}

.sectionServices__description-button:hover {
  background-color: #5e7151;
  font-weight: bolder;
}


.sectionServices__description-button a {
  text-decoration: none;
  color: #fff;
}

@media (width:375px) {

  .sectionServices {
    display: block;
  }

  .sectionServices-card {
    margin-top: 20px;
    height: 600px;
  }

  .sectionServices-imageRecycleSpruce,
  .sectionServices-imageRecyclePlastic,
  .sectionServices-imageSaveSpruce {
    height: 270px;
    width: 300px;
  }

  .sectionServices__description-title,
  .sectionServices__description-about {
    width: 300px;
  }

  #sectionServices__form {
    width: 300px;
    height: 500px;
    margin-top: 780px;
    margin-left: 20px;
  }

  .sectionServices__form-input {
    width: 250px;
    margin-left: 5px;
    margin-top: 10px;
  }

  .sectionServices__form-checkboxes {}

  .sectionServices__form-button {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    margin-left: 5px;
    border-radius: 10px;
    border: none;
    color: #b3283f;
    font-size: 18px;
  }

}

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
    "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 6 \2502  @import \"./title.sass\"\d\a   \2502          ^^^^^^^^^^^^^^\a   \2575 \a   assets\\sass\\style.sass 6:9  root stylesheet";
}